@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

@font-face{
        font-family: "Circular-Book";
        src: url('fonts/lineto-circular-book-c.woff'),
        url('fonts/lineto-circular-book-c.woff'); /* IE */
    }
    
    @font-face{
        font-family: "Circular Std Book";
        src: url('fonts/lineto-circular-book-c.woff'),
        url('fonts/lineto-circular-book-c.woff'); /* IE */
    }

    @font-face {
        font-family: "Circular-Medium";
        src: url('fonts/lineto-circular-medium-c.woff'),
        url('fonts/lineto-circular-medium-c.woff');
    }

    @font-face {
        font-family: "Circular-Bold";
        src: url('fonts/lineto-circular-bold-c.woff'),
        url('fonts/lineto-circular-bold-c.woff');
    }
    
    svg{
        font-family: "Circular-Book", "Circular Std Book", "Circular-Medium", "Circular-Bold", fallBackFonts, sans-serif;
    }


    @media  (min-width: 300px) {
        .prototype-page {
            width:  100%;
        }
    }
    @media (min-width: 1000px) {
        .prototype-page {
            width: 360px;
        }
    }
    @media  (min-width: 300px) {
        .long-page {
            width: 100%;
        }
    }
    @media (min-width: 1000px) {
        .long-page {
            width: 360px;
        }
    }
